.titulo-principal{
    padding-left: 30px;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}
#banner{
    width: 100%;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
    background:#CCCCCC;
}

em strong{
    color:red;
}

#mision{
    font-size: 20px;
}

.Diferenciales{
    background: #FFFFFF;
    padding: 30px;
}


.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferencial{
    width:50%;
}