body{
    font-family: 'Montserrat', sans-serif;
}


header{
    background-color: #5b5c57;
    padding: 20px 0;
}

.foto{
    position: relative;
    top: 20px;
    right: 20px;
    height: 100px;
    width: 90px;
    
}
.caja{
    height: 100px;
    width: 940px;
    left: -170px;
    top: -20px;
    position:relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top:100px;
    right: 588px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #fdfdfd;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}
.link_Filmelier
{
    position: relative;
    left: -194px;
    top: 50px;
}
.link_proverbia
{
    position: relative;
    left: 28px;
    top: -17px;
}
.link
{
    position: relative;
    left: -246px;
    top: 13px;
}
.productos{
    width:940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.productos li:hover{
    border-color:#C78C19;
}

.productos li:active{
    border-color: #088C19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;

}

.producto-precio{
    font-size:20px;
    font-weight: bold;
    margin-top: 10px;

}

footer{
    text-align: center;
    background: url(../imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}


form{
    margin: 40px 40px;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40% ;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;   
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
    width: 40%
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*Aqui inicia el CSS para nuestra home*/

.banner{
    width:1304px;
    height: 120px;
    position: relative;
    top: 15px;
    border-radius: 15px;
    border-style:dashed
}
.principal_proverbia{
    padding: 1em 0;
    background: linear-gradient(#FEFEFE, #d3d8da);
    width:1343px;
    margin: 0 auto;
}
.principal{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #d3d8da);
    width:1343px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
}

.principal p{
    margin-top: 35px;
}

.principal strong {
    font-weight: bold;
}

.principal em{
    font-style: italic;
}
.logo_proverbia{
    width: 196px;
    float: left;
    margin: 0 20px 20px 15px;
    border-radius: 10px;
}

.utensilios{
    width: 270px;
    float: left;
    margin: 0 20px 20px 15px;
    border-radius: 10px;
}

.mapa{
    padding: 0em 0;
    width: 1343px;
    background: linear-gradient( #d3d8da, #FEFEFE);
    margin: 0 auto;
    
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.Diferenciales{
    width: 1343px;
    height: 511px;
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #d3d8da);
}
.contenido-diferenciales{
    width:640px;
    margin: 0 auto;
}

.imagen-diferencial{
    position: relative;
    top: -214px;
    left: 228px;
    width: 86%;
}


.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.lista-frases{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.items_proverbia{
    width: 386px;
    line-height: 1.5;
}

.items{
    line-height: 1.5;
}

.items:before{
    content:"✭"
}



.video{
    width:560px;
    margin: 1em auto;
}
.lista-proverbia {
  list-style-type: disc;
  padding-left: 284px; /* Indenta la lista */
  margin-top: 10px;
}

.lista-proverbia li {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #333;
}
.contenedor-cita {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  background-color: transparent; /* Mantiene el fondo de la página */
  padding: 10px -1px;
  border-radius: 0;
  box-shadow: none;
  max-width: 100%;
  margin: 65px;
}

.cita-imagen img {
  width: 80px;
  height: auto;
  border-radius: 0;
}

.cita-texto {
  text-align: left;
}

.cita-texto p {
  margin: 4px 0;
  font-size: 1rem;
  color: #222;
  text-align: left;
}
.btn_1 {
    height:49px ;
    width: 212px;
    background-color: #6e6f68;
    border: 0;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s ease all;
    position: relative;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.5em;
    margin-left: 438px;
}

.btn_2 {
    height:49px ;
    width: 212px;
    background-color: #6e6f68;
    border: 0;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s ease all;
    position: relative;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.5em;
}
.btn_3 {
    height:49px ;
    width: 212px;
    background-color: #6e6f68;
    border: 0;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s ease all;
    position: relative;
    font-weight: bold;
    margin-top: 19px;
    margin-bottom: 10px;
    border-radius: 0.5em;
    margin-left: 436px;
}

.btn_4 {
    height:49px ;
    width: 212px;
    background-color: #6e6f68;
    border: 0;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s ease all;
    position: relative;
    font-weight: bold;
    margin-top: -1px;
    margin-bottom: 10px;
    border-radius: 0.5em;
}
.btn_5 {
    height:49px ;
    width: 212px;
    background-color: #6e6f68;
    border: 0;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s ease all;
    position: relative;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.5em;
    margin-left: 435px;
}

.btn_6 {
    height:49px ;
    width: 212px;
    background-color: #6e6f68;
    border: 0;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s ease all;
    position: relative;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.5em;
}
.btn_7 {
    height:49px ;
    width: 212px;
    background-color: #6e6f68;
    border: 0;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s ease all;
    position: relative;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.5em;
    margin-left: 436px;
}

.btn_8 {
    height:49px ;
    width: 212px;
    background-color: #6e6f68;
    border: 0;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s ease all;
    position: relative;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.5em;
}
.btn_9 {
    
    height:49px ;
    width: 150px;
    background-color: #6e6f68;
    border: 0;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s ease all;
    position: absolute;
    font-weight: bold;
    margin-top: -57px;
    margin-bottom: 10px;
    border-radius: 0.5em;
    margin-left: 931px;
}
.btn_10 {
    
    height:49px ;
    width: 150px;
    background-color: #6e6f68;
    border: 0;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s ease all;
    position: absolute;
    font-weight: bold;
    margin-top: -57px;
    margin-bottom: 10px;
    border-radius: 0.5em;
    margin-left: 1084px;
}
.btn_1:hover{
      background-color: #B2B0B0;
    }
.btn_2:hover{
    background-color: #B2B0B0;
}
.btn_3:hover{
      background-color: #B2B0B0;
    }
.btn_4:hover{
    background-color: #B2B0B0;
}
.btn_5:hover{
      background-color: #B2B0B0;
    }
.btn_6:hover{
    background-color: #B2B0B0;
}
.btn_7:hover{
      background-color: #B2B0B0;
    }
.btn_8:hover{
    background-color: #B2B0B0;
}
.btn_9:hover{
    background-color: #B2B0B0;
}
.btn_10:hover{
    background-color: #B2B0B0;
}
.etiqueta{
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 396px;
    margin-top: -27px;

}
.text-input_in {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: 225px;
  margin-right: auto;    
    
}
.text-input_url {
    background-color: white;
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 50%;
  height: 50px;
  margin-left: 225px;
  margin-right: auto;
}
.text-input_peticion {
    background-color: white;
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 10%;
  height: 33px;
  margin-left: 434px;
  margin-right: auto;
}
.text-input_cabeceras {
  background-color: white;
  white-space:  pre-wrap;
  overflow-wrap: break-word;   /* estándar moderno */   
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 50%;
  height: 150px;
  margin-left: 434px;
  margin-right: auto;
}
.text-input_cont_web {
  background-color: white;
  overflow-y: auto;   /* aparece scroll vertical solo si es necesario */
  overflow-x: hidden;
  white-space:  pre-wrap;
  overflow-wrap: break-word;   /* estándar moderno */
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 50%;
  height: 500px;
  margin-left: 434px;
  margin-right: auto;
}

.text-input_out {
  background-color: white;
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: 662px;
  margin-right: auto;
  margin-top: -65px;
  display: flex;
  line-height: 3;
}
.text-input_out_2 {
  background-color: white;  
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: 662px;
  margin-right: auto;
  margin-top: -109px;
  display: flex;
  line-height: 3;
}

.spam_1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    width: 167px;
    margin-left: 225px;
    position: absolute;
    margin-top: 1px;
    background-color: #9dcada;
    border-radius: 5px;
    padding: 15px;


}
.spinner{
    margin-left: 559px;
    position: absolute;
    margin-top: -34px
}
.etiqueta{
    font-weight: bold;
    line-height: 1.6;
}
@media screen and (max-width:480px){

    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
        width: auto;
    }

    .lista-diferenciales, .imagen-diferencial{
        width: 100%;
    }


}