body{
    font-family: 'Montserrat', sans-serif;
}


header{
    background-color: #5b5c57;
    padding: 20px 0;
}

.foto{
    position: relative;
    top: 20px;
    right: 20px;
    height: 100px;
    width: 90px;
    
}
.caja{
    height: 100px;
    width: 940px;
    left: -170px;
    top: -20px;
    position:relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top:100px;
    right: 588px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #fdfdfd;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}
.link_Filmelier
{
    position: relative;
    left: -194px;
    top: 50px;
}
.link_proverbia
{
    position: relative;
    left: 28px;
    top: -17px;
}
.link
{
    position: relative;
    left: -246px;
    top: 13px;
}
.productos{
    width:940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.productos li:hover{
    border-color:#C78C19;
}

.productos li:active{
    border-color: #088C19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;

}

.producto-precio{
    font-size:20px;
    font-weight: bold;
    margin-top: 10px;

}

footer{
    text-align: center;
    background: url(../imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}


form{
    margin: 40px 40px;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40% ;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;   
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
    width: 40%
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*Aqui inicia el CSS para nuestra home*/

.banner{
    width:1304px;
    height: 120px;
    position: relative;
    top: 15px;
    border-radius: 15px;
    border-style:dashed
}
.principal_proverbia{
    padding: 1em 0;
    background: linear-gradient(#FEFEFE, #d3d8da);
    width:1343px;
    margin: 0 auto;
}
.principal{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #d3d8da);
    width:1343px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
}

.principal p{
    margin-top: 35px;
}

.principal strong {
    font-weight: bold;
}

.principal em{
    font-style: italic;
}
.logo_proverbia{
    width: 196px;
    float: left;
    margin: 0 20px 20px 15px;
    border-radius: 10px;
}

.utensilios{
    width: 270px;
    float: left;
    margin: 0 20px 20px 15px;
    border-radius: 10px;
}

.mapa{
    padding: 0em 0;
    width: 1343px;
    background: linear-gradient( #d3d8da, #FEFEFE);
    margin: 0 auto;
    
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.Diferenciales{
    width: 1343px;
    height: 511px;
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #d3d8da);
}
.contenido-diferenciales{
    width:640px;
    margin: 0 auto;
}

.imagen-diferencial{
    position: relative;
    top: -214px;
    left: 228px;
    width: 86%;
}


.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.lista-frases{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.items_proverbia{
    width: 386px;
    line-height: 1.5;
}

.items{
    line-height: 1.5;
}

.items:before{
    content:"✭"
}



.video{
    width:560px;
    margin: 1em auto;
}
.lista-proverbia {
  list-style-type: disc;
  padding-left: 284px; /* Indenta la lista */
  margin-top: 10px;
}

.lista-proverbia li {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #333;
}
.contenedor-cita {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  background-color: transparent; /* Mantiene el fondo de la página */
  padding: 10px -1px;
  border-radius: 0;
  box-shadow: none;
  max-width: 100%;
  margin: 65px;
}

.cita-imagen img {
  width: 80px;
  height: auto;
  border-radius: 0;
}

.cita-texto {
  text-align: left;
}

.cita-texto p {
  margin: 4px 0;
  font-size: 1rem;
  color: #222;
  text-align: left;
}

.etiqueta{
    font-weight: bold;
    line-height: 1.6;
}
@media screen and (max-width:480px){

    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
        width: auto;
    }

    .lista-diferenciales, .imagen-diferencial{
        width: 100%;
    }


}